min_peers = 50
max_peers = 80
max_uploads = 4
download_rate = 0
upload_rate = 50
directory = /Torrents/
session = /home/tomegathericon/.session/
port_range = 60125-64125
port_random = yes
check_hash = yes
dht = auto
dht_port = 63425
peer_exchange = yes
scgi_port = 127.0.0.1:5000
